body{
    background-color: aliceblue;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}

#timer{
    font-size: 50px;
    padding: 10px;
    text-align: center;
}


#content{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}

#input{
    font-size: 20px;
    margin-bottom: 20px;
    
}

#input input{
    width: 60px;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    
}

#setTime{
    width: fit-content ;
    font-size: 20px;
    background-color:rgb(187, 255, 153);
    border-color: rgb(206, 206, 162);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-left: 10px;
}

#setTime:hover{
    background-color: rgb(148, 204, 120);
    transform: translateY(-5px);
}

#buttonTimer{
    width: fit-content ;
    font-size: 20px;
    background-color: rgb(255, 255, 204);
    border-color: rgb(206, 206, 162);
    border-radius: 5px;
    transition: all 0.3s ease;
}
#buttons{
    margin: 20px 10px;
}
#buttonTimer:hover{
    background-color: rgb(255, 255, 179);
    transform: translateY(-5px);
}

#addList{
    width: fit-content ;
    font-size: 20px;
    background-color: rgb(255, 200, 179);
    border-color: rgb(206, 206, 162);
    border-radius: 5px;
    transition: all 0.3s ease;
}

#addList:hover{
    background-color: rgb(213, 165, 146);
    transform: translateY(-5px);
}

#stopTimer{
    width: fit-content ;
    font-size: 20px;
    background-color: rgb(255, 71, 26);
    border-color: rgb(206, 206, 162);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#resetTimer{
    width: fit-content ;
    font-size: 20px;
    background-color: rgb(143, 195, 243);
    border-color: rgb(206, 206, 162);
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#stopTimer:hover{
    background-color:rgb(197, 56, 20);
    transform: translateY(-5px);
}

#resetTimer:hover{
    background-color: rgb(114, 154, 192);
    transform: translateY(-5px);
}

#todo{
    flex: 1;
    font-size: 18px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
/* #todo input{
    width: 60px;
    padding: 8px;
    text-align: center;
    font-size: 18px;
} */

#todoForm{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;;
    
}

#toDoListContainer{
    margin-top: 10px;
    border-style: solid;
    padding: 10px;
    background-color: white;
    display: none;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.list{
    border-style: solid;
    border-color:  rgb(0, 0, 0);
    border-width: 0.5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 214, 232);
    margin-bottom: 7px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;        
}

.deleteBut{
    background-color: rgb(241, 106, 106);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
}

.deleteBut:hover {
    background-color: rgb(220, 80, 80);
    transform: scale(1.1);
}